body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: magenta;
    background-image: url('rbbg.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

p{

}